absl-py
astor
attrs
backcall
bleach
certifi
chardet
Click
colorama
contextlib2
cycler
Cython
decorator
defusedxml
entrypoints
Flask
Flask-Cors
gast
google-pasta
grpcio
h5py
idna
importlib-metadata
ipykernel
ipython
ipython-genutils
ipywidgets
itsdangerous
jedi
Jinja2
jsonschema
Keras-Applications
Keras-Preprocessing
kiwisolver
lxml
Markdown
MarkupSafe
matplotlib
mistune
more-itertools
nbconvert
nbformat
notebook
numpy
opencv-python
pandocfilters
parso
pickleshare
Pillow
prometheus-client
prompt-toolkit
protobuf
Pygments
pyparsing
pyrsistent
python-dateutil
pyzmq
qtconsole
requests
Send2Trash
six
tensorboard
tensorflow==2.13.*
tensorflow-estimator
termcolor
terminado
testpath
tornado
traitlets
urllib3
wcwidth
webencodings
Werkzeug
widgetsnbextension
wincertstore
wrapt
zipp
